/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #EAF2F8;
}

.textUser, .PassUser{
    -fx-background-color: #85C1E9;
    -fx-padding: 5px;
}

.buttonLogIn:hover{
    -fx-cursor: hand;
    -fx-font-size: 15px;
    -fx-translate-x: -5px;
    -fx-translate-y: -2px;
    -fx-pref-width: 90px;
    -fx-pref-height: 34px;
}