/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #EAF2F8;
}

.menuBar{
    -fx-background-color: #AED6F1;
}

.buttonPrestamo, .buttonDevolucion{
    -fx-background-color: #3498DB;    
}

.buttonPrestamo:hover, .buttonDevolucion:hover{
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-translate-x: -5px;
    -fx-translate-y: -2px;
    -fx-pref-width: 210px;
    -fx-pref-height: 44px
    
}